#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
Footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  background: radial-gradient(#280a48, #20043d);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8; 
  font-size: 14px; 
  color: white; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.itemdisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 15px;
}
.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

/* Titre principal */
.item-display h2 {
  font-size: 1.5rem;
  color: #0078d4;
  margin: 0;
}

/* Texte général */
.item-display p {
  font-size: 1rem;
  color: white;
  margin: 0;
}

/* Style du bouton */
button {
  background-color: #0078d4;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}


.item-display {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed; 
  top: 10px; 
  left: 10px; 
  z-index: 1000; 
}

.hamburger-icon div {
  width: 100%;
  height: 3px;
  background-color: #0078d4;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu-list {
  position: fixed;
  top: 50px;
  left: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  list-style: none;
  width: 200px;
  z-index: 999;
}

.menu-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.menu-list li:last-child {
  border-bottom: none;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-list {
  animation: slideIn 0.3s ease-in-out;
}

.menu-item.active {
  background-color: #0078d4;
  color: white;
  font-weight: bold;
}
